export TF_VAR_environment=dev
export TF_VAR_aws_access_key=XXXXXXXXXXXXXXXXXXXX
export TF_VAR_aws_secret_key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
export TF_VAR_aws_region=us-west-2
export TF_VAR_az1=us-west-2a
export TF_VAR_bosh_vpc_cidr=10.3.0.0/16
export TF_VAR_public_subnet_cidr_az1=10.3.0.0/24
export TF_VAR_concourse_private_subnet_cidr_az1=10.3.1.0/24
export TF_VAR_aws_key_name=ramesh-bosh

#export TF_VAR_my_public_ip_cidr=216.128.252.71/32
export TF_VAR_my_public_ip_cidr=73.34.113.252/32
